/* Estilos Globais para Tema Dark */
body {
  background-color: #121212; /* Fundo escuro */
  color: #ffffff; /* Texto claro */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #1e90ff; /* Links em azul claro */
  text-decoration: none;
}

a:hover {
  color: #63a4ff; /* Cor mais clara no hover */
}
  
  header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  